
.navbar {
  background: #693bcc;
}

.navbar-brand {
  color: white;
} 

.navbar-brand:hover {
  color: white;
  text-decoration: none;
}

.navbar-toggler {
  background-color: white;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.hamburger {
  color: white;
}

.nav-link {
  color: white;
  font-weight: bold;
}

.nav-link:hover {
  color: #fff;
}

