
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: #693bcc;
}

.navbar-brand {
  color: white;
} 

.navbar-brand:hover {
  color: white;
  text-decoration: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.hamburger {
  color: white;
}

.nav-link {
  color: white;
  font-weight: bold;
}

.nav-link:hover {
  color: #f35f1c;
}


[class*='col-'] {
  padding-top: 16px;
}

.col {
  height: 440px;
  border: 3px solid #693bcc;
  border-radius: 5px;
}

.card {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  margin: auto;
  color:#20123a;
  text-align: center;
}

.item-title {
  color: #f35f1c;
}

.item-title:hover {
  color: #f35f1c;
}

.item-on-sale {
  background-color: #cb1f9c;
  border-radius: 5px;
  color: white;
}

.card button {
  padding-bottom: 10px;
  border: none;
  outline: none;
  color: white;
  background-color: #f35f1c;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.85;
  color: white;
}

.fa-star, 
.fa-star-half-alt {
  color: #693bcc;
}

.view-item {
  padding: 5px;
  background-color: #f35f1c;
  border-radius: 5px;
  color: white;
}

.view-item:hover {
  text-decoration: none;
  color: white;
  opacity: 0.85;
}